[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
numpy = "*"
scipy = "*"
xarray = "*"
astropy = "*"
matplotlib = "*"
scikit-learn = "*"
netcdf4 = "*"
pyyaml = "*"
tqdm = "*"

[dev-packages]
ipython = "*"
jupyterlab = "*"
twine = "*"
black = "*"
flake8 = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
setuptools-py2cfg = "*"
decode = {editable = true,path = "."}

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
