[tool.poetry]
name = "decode"
version = "2.0.0"
description = "DESHIMA code for data analysis"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
keywords = [
    "astronomy",
    "data-analysis",
    "deshima",
    "spectroscopy",
    "submillimeter",
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/deshima-dev/decode/"
documentation = "https://deshima-dev.github.io/decode/"

[tool.poetry.dependencies]
python = ">=3.9, <3.13"
scipy = "^1.10"
xarray = "^2023.1"
zarr = "^2.14"

[tool.poetry.group.dev.dependencies]
black = "^23.10"
ipython = "^8.16"
myst-parser = "^2.0"
pydata-sphinx-theme = "^0.14"
pyright = "^1.1"
pytest = "^7.4"
sphinx = "^7.2"

[tool.pyright]
typeCheckingMode = "basic"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
