[tool.poetry]
name = "decode"
version = "2.7.1"
description = "DESHIMA code for data analysis"
authors = ["Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>"]
keywords = [
    "astronomy",
    "data-analysis",
    "deshima",
    "spectroscopy",
    "submillimeter",
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/deshima-dev/decode/"
documentation = "https://deshima-dev.github.io/decode/"

[tool.poetry.dependencies]
python = ">=3.9, <3.13"
astropy = "^5.2"
dems = "^0.8"
matplotlib = "^3.7"
numpy = "^1.23"
pandas = ">=1.5, <3.0"
scikit-learn = "^1.2"
scipy = "^1.10"
xarray = "^2023.1"
zarr = "^2.14"
fire = "^0.5.0"

[tool.poetry.group.dev.dependencies]
black = "^23.11"
ipython = "^8.16"
myst-parser = "^2.0"
pydata-sphinx-theme = "^0.14"
pyright = "^1.1"
pytest = "^7.4"
sphinx = "^7.2"

[tool.poetry.scripts]
decode-qlook = "decode.qlook:main"

[tool.pyright]
typeCheckingMode = "basic"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
