[tool.poetry]
name = "decode"
version = "1.0.0"
description = "DESHIMA code for data analysis"
authors = [
    "Akio Taniguchi <taniguchi@a.phys.nagoya-u.ac.jp>",
    "Tsuyoshi Ishida <tishida@ioa.s.u-tokyo.ac.jp>",
]
keywords = [
    "astronomy",
    "data-analysis",
    "deshima",
    "spectroscopy",
    "submillimeter",
]
license = "MIT"
readme = "README.md"
homepage = "https://github.com/deshima-dev/decode/"
documentation = "https://deshima-dev.github.io/decode/"

[tool.poetry.dependencies]
python = ">=3.8, <3.12"
astropy = "^5.2"
matplotlib = "^3.6"
morecopy = "^0.3"
netcdf4 = "^1.6"
numpy = "^1.22"
scikit-learn = "^1.2"
scipy = "^1.9"
tomli = "^2.0"
tqdm = "^4.65"
xarray = "^2022.3"
xarray-dataclasses = "^1.6"

[tool.poetry.group.dev.dependencies]
black = "^23.7"
ipython = "^8.12"
myst-parser = "^2.0"
pydata-sphinx-theme = "^0.13"
pytest = "^7.4"
sphinx = "^7.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
