name: Tests

on:
  push:
    branches:
      - main
      - deshima2.0
  pull_request:
    branches:
      - main
      - deshima2.0

jobs:
  job:
    name: Test (Python ${{ matrix.python }})
    runs-on: ubuntu-latest
    env:
      POETRY_VIRTUALENVS_CREATE: false
    strategy:
      fail-fast: false
      matrix:
        python: ["3.9", "3.10", "3.11", "3.12"]
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python }}
      - run: pip install poetry && poetry install
      - run: black --check docs tests decode
      - run: pytest -v test
      - run: docs/build
